.listPane{
    -fx-background-color: #ffff8f;
}

.bg{
    -fx-background-color: #333;
}

.bgLight{
    -fx-background-color: #444;
}

.addBtn{
    -fx-background-color: darkgreen;
    -fx-background-radius: 0;
}

.addBtn:hover{
    -fx-background-color: green;
    -fx-background-radius: 0;
}

.deleteBtn{
    -fx-background-color: darkred;
    -fx-background-radius: 0;
}

.deleteBtn:hover{
    -fx-background-color: red;
    -fx-background-radius: 0;
}

.addMoviePane{
    -fx-background-color: #444;
}

#formPane{
    -fx-background-color: #333;
}

#formPane Label{
    -fx-text-fill: #ffff8f;
    -fx-font: 14 System;
}

#detailBox{
    -fx-background-color: #444;
}

#detailBox Label{
    -fx-text-fill: #ffff8f;
}

.table-view{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-border: none;
}

.table-view .table-cell{
    -fx-text-fill: #ffff8f;
}

.table-row-cell{
    -fx-background-color: #444;
}

.table-row-cell:hover{
    -fx-background-color: #555;
}

.table-row-cell:focused{
    -fx-background-color: #ffff8f;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:focused .text{
    -fx-fill: #333;
}

.table-row-cell .text{
    -fx-fill: #ffff8f;
}

.table-row-cell:odd{
    -fx-background-color: #3c3c3c;
}

.table-row-cell:odd:hover{
    -fx-background-color: #555;
}

.table-row-cell:odd:focused{
    -fx-background-color: #ffff8f;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #333;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ffff8f;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.thumb{
    -fx-background-color: #ffff8f;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.track{
    -fx-background-color: #333;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.increment-button, .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.increment-arrow, .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0;
}
